@import url(fonts.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MM';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: #282828;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav__list_links {
    display: flex;
    gap: 25px;
}

.nav__list a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
}

.header__bottom {
    background: url(../img/header.png);
    height: 635px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__bottom_content h2 {
    font-family: 'PO';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 75px;
    color: #FFFFFF;
}

.header__bottom_content a {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #171718;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 13px 11px 13px 14px;
}

.header__bottom_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    padding-top: 204px;
}

.main {
    background: #151515;
}

.about__airpods {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.airpods__text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.airpods__img {
    margin-top: 30px;
}

.about__airpodsduo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.airpodsduo__img {
    margin-top: 30px;
}

.aiprodsduo__text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.about__airpodslarge {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.airpodslarge__text {
    max-width: 333px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
}

.airpodslarge__img {
    margin-top: 50px;
}

.airpodslarge__text2 {
    max-width: 333px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.about__iphone {
    padding-bottom: 55px;
}

.iphone__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 79px;
}

.cards__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 6px;
}

.cards__item h2 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.cards__item p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
    padding: 10px 63px 20px 62px;
    white-space:nowrap
}

.links {
    background: #151515;
    padding: 7px 57px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.footer {
    background: #282828;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);

}

.footer__nav {
    display: flex;
    justify-content: space-between;
    padding-top: 81px;
    padding-bottom: 81px;
}

.footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer__links_pay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
}

.footer__links a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
}